/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}




/*
* Aquí empieza el proyecto
Estilos para Mobile First | 
*/

:root{
  --bg-white: rgba(255, 255, 255);
  --bg-black: rgb(15,15,15);
  --bg-brown:#D5966C;
  --color-black:rgb(15,15,15);
  --color-gray:rgb(68,68,68);
  --color-brown:#D5966C;
  --font-primary:'Big Shoulders', cursive;
  --font-secondary: 'Outfit', cursive;
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Estilos para index.html */

body{}
/*body::before{
    content: '';
    width: 42%;
    background-color: var(--bg-black);
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  } */

.header{}

.hero{}

.hero__img{
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 32px;  
}
.hero__logo{
  width: 343px;
  padding: 16px;
  margin-bottom: 32px;
}
.hero__subtitle{
  padding-left: 16px;
  padding-right: 16px;
  font-family: var(--font-secondary);
  font-size: 20px;
  line-height: 28px;
  color: var(--color-gray);
  margin-bottom: 32px;
}
.hero__button{
  margin-left: 16px;
  margin-bottom: 120px;
  display: flex;
  width: 290px;
  height: 72px;    
}
.hero__button-link{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 24px 0px 24px 32px;
  gap: 32px;
  color: white;
  text-decoration: none;
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3.64px;  
  background-color: var(--bg-black);
  position:relative;
}
.hero__button-link:hover{
  background-color: var(--bg-brown);
  transition: all 0.3s;
}
.hero__button-link:hover img{
  opacity: 0; /* Oculta la imagen por defecto */
  transition: opacity 0.3s ease-in-out;
}
.hero__button-link::before {
  content: "";
  position: absolute;
  left: 80%;
  width: 56px;
  height: 72px;
  background-image: url("../img/icon_next_hover.svg"); /* Imagen de hover */
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; /* Oculta la imagen alternativa por defecto */
}
.hero__button-link:hover::before {
  opacity: 1; /* Muestra la imagen alternativa */
}

.details{
  padding-left: 16px;
  padding-right: 16px;
}
.details__item1{
  display: block;
}
.details__item1 img{
  width: 100%;
  height: 320px;  
  margin-bottom: 25px;
}
.details__item1-h2{
  font-family: var(--font-primary);
  font-size: 50px;
  line-height: 45px;
  color: var(--color-black);
  margin-bottom: 21px;
}
.details__item1-p{
  font-family: var(--font-secondary);
  font-size: 20px;
  line-height: 28px;
  color: var(--color-gray);
  margin-bottom: 32px;
}

.details__item2{
  display: block;
}
.details__item2-img1{
  width: 100%;
  height: 480px;  
  margin-bottom: 16px;
}
.details__item2-img2{
  width: 100%;
  height: 200px;  
  margin-bottom: 16px;
}
.details__item2-h2{
  padding:48px 24px 24px 24px;
  font-family: var(--font-primary);
  font-size: 50px;
  line-height: 45px;
  color: white;
  background-color: var(--bg-black);
   
}
.details__item2-p{
  padding: 0px 24px 24px 24px;
  font-family: var(--font-secondary);
  font-size: 18px;
  line-height: 28px;
  color: white;
  background-color: var(--bg-black);
  margin-bottom: 120px;
}

footer{
  background-color: var(--bg-black);
}
.footer{
 padding: 48px 32px 48px 32px;
}
.footer__logo{
  margin-bottom: 38px;
}
.footer__p{
  font-family: var(--font-secondary);
  font-size: 18px;
  line-height: 26px;
  color: white;
  margin-bottom: 38px;
}
.footer__nav{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 38px;
}
.footer__nav a:hover{
  transform: scale(1.3);
  transition: transform 0.3s ease;
}
/* ++++++++++++++++++++++++++++ */
/* Estilos para location.html */
.body__location{
  background-color: var(--bg-black);
}
.hero__location{
  position: relative;
}
.hero__location-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 32px;  
}
.hero__location-pin{
  position: absolute;
  top: 41%;
  left: 42%;
  width: 66px;
  height: 88px;
  object-fit: cover;
  object-position: center;
}
.hero__location-container{
  display: flex;
  justify-content: left;
  width: 290px;
  height: 72px;  
  position: absolute;
  top: 0;
  left: 0;
}
.hero___location-link{
  display: inline-flex;
  align-items: center;  
  flex-direction: row;
  padding: 24px 32px 24px 0px;
  gap: 32px;
  color: white;
  text-decoration: none;
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3.64px;  
  background-color: var(--bg-black);  
}
.hero__location-container a:hover{
  background-color: var(--bg-brown);
  transition: all 0.3s;
}
.hero__location-link:hover img{
  opacity: 0; /* Oculta la imagen por defecto */
  transition: opacity 0.3s ease-in-out;
}
.hero__location-container::before {
  content: "";
  position: absolute;
  left: 0;
  width: 56px;
  height: 72px;
  background-image: url("../img/icon_back_hover.svg"); /* Imagen de hover */
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; /* Oculta la imagen alternativa por defecto */
}
.hero__location-container:hover::before {
  opacity: 1; /* Muestra la imagen alternativa */
}

.details__location{
  margin-bottom: 56px;
}
.details__location-h1{
  padding: 38px 16px 0px 16px;
  color:white;
  font-family: var(--font-primary);
  font-size: 50px;
  line-height: 45px;
  margin-bottom: 48px;
}
.details__location-h2{
  padding: 0px 16px 20px 16px;
  color:var(--color-brown);
  font-family: var(--font-primary);
  font-size: 32px;
  line-height: 32px;  
}
.details__location-p1{
  padding: 20px 16px 0px 16px;
  color:white;
  font-family: var(--font-secondary);
  font-size: 20px;
  line-height: 10px;
}
.details__location-p2{
  padding: 20px 16px 0px 16px;
  color:white;
  font-family: var(--font-secondary);
  font-size: 20px;
  line-height: 28px;
}

footer{
  background-color: var(--bg-brown);
}
.footer__location{
  padding: 48px 32px 48px 32px;
}
.footer__location-p{
  padding:38px 0px 38px 0px;
  font-family: var(--font-secondary);
  font-size: 18px;
  line-height: 26px;
  color:var(--color-black);
  }
.footer__location-nav{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 38px;
}




 

